.players-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-m);
}

.players-list li {
    display: inline-grid;
    align-items: center;
    column-gap: var(--spacing-m);
    padding: var(--spacing-m);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    grid-template-areas: 'name icon'
                         'rank icon';
    grid-template-columns: 1fr auto;
}

.players-list .name {
    grid-area: name;
    font-weight: 600;
}

.players-list .rank {
    grid-area: rank;
    font-size: 0.8em;
}

.players-list img {
    margin: 0;
    width: 48px;
    grid-area: icon;
}
