@use './styles/breakpoints' as breakpoints;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: var(--surface-color);
  background-color: var(--background-color);

  --spacing-xs: 0.125rem;
  --spacing-s: 0.25rem;
  --spacing-m: 0.5rem;
  --spacing-l: 1rem;
  --spacing-xl: 1.5rem;
  --spacing-xxl: 2rem;

  /* Max Widths */
  --screen-xs: breakpoints.$screen-xs;
  --screen-s: breakpoints.$screen-s;
  --screen-m: breakpoints.$screen-m;
  --screen-l: breakpoints.$screen-l;

  --surface-color: #222;
  --surface-color-variant: #616161;
  --title-color: #222;
  --background-color: #ffffff;
  --background-color-variant: #d6d6d6;
  --foreground-color: #000;
  --border-color: #dbdbdb;
  --border-color-variant: #919191;
}

main {
  height: calc(100vh - 2 * var(--spacing-l));
  padding: var(--spacing-l);
  margin: auto;
  max-width: 94rem;
}

[data-tooltip]:hover::after {
  background-color: var(--background-color-variant);
  border-radius: 8px;
  content: attr(data-tooltip);
  display: block;
  padding: var(--spacing-s);
  position: absolute;
}

body {
  margin: 0;
}

// TODO(Uncomment this once the light theme is better supported)
// @media (prefers-color-scheme: dark) {
:root {
  --surface-color: #E8EAED;
  --surface-color-variant: #BDC1C6;
  --title-color: #20BEFF;
  --background-color: #1C1D20;
  --background-color-variant: #484b53;
  --foreground-color: #E8EAED;
  --border-color: #DADCE0;
  --border-color-variant: #cfd5da;
}

// }
