.events-panel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid var(--border-color);
  border-radius: 24px;

  &.empty {
    align-items: center;
    font-size: 1.25em;
    padding: var(--spacing-m);
    justify-content: center;
    text-align: center;
  }
}

.step-outline {
  overflow: hidden;

  &.expanded {
    .thoughts {
      max-height: 300rem;
      visibility: visible;
    }
  }

  &:not(:last-of-type) .content {
    border-bottom: 1px solid var(--border-color);
  }

  &.expandable {
    cursor: pointer;
  }

  .content {
    column-gap: var(--spacing-m);
    display: flex;
    padding: var(--spacing-l) 0;
    position: relative;

    &:hover {
      .drill-down-btn:not(.hidden) {
        visibility: visible;
      }
    }

    .drill-down-btn {
      position: absolute;
      right: 0;
      top: 0;
      visibility: hidden;
    }
  }

  .thoughts {
    transition: max-height 0.4s ease-in-out;
    visibility: hidden;
    max-height: 0;
  }

  .metadata-section {
    grid-area: metadata;
    font-size: 0.7em;
    color: var(--surface-color-variant);
    text-transform: uppercase;

    .metadata:not(:last-child)::after {
      content: '·';
    }
  }

  .metadata-section,
  .metadata-section .metadata {
    display: inline-flex;
    gap: var(--spacing-s);
  }
}

.steps {
  flex: 1;
  overflow-y: auto;
  padding: var(--spacing-l);
}

.agent-responding {
  background: rgba(255, 255, 255, 0.30);
  padding: var(--spacing-m) var(--spacing-l);
}

.current-step .model {
  align-self: start;
}

.move {
  align-items: center;
  display: flex;
  font-size: 1.25em;
  font-weight: 700;
  gap: var(--spacing-m);
}

.previous-steps-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
