@use '../../styles/breakpoints' as breakpoints;

.home {
  display: grid;
  grid-template-areas: 'title title'
    'left-panel viewer';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-xxl);
  height: 100%;
  font-size: 20px;

  @media (max-width: breakpoints.$screen-s) {
    gap: var(--spacing-m);
  }

  @media (max-width: breakpoints.$screen-m) {
    gap: var(--spacing-l);
  }

  .title {
    align-items: center;
    display: flex;
    grid-area: title;
  }

  .viewer {
    grid-area: viewer;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    position: relative;
  }

  .left-panel {
    display: flex;
    flex-direction: column;
    grid-area: left-panel;
    overflow: hidden;
    width: 30em;
    gap: var(--spacing-l);
    transition: width ease-in-out 0.25s;

    &.expanded {
      width: 40em;
    }

    @media (max-width: breakpoints.$screen-m) {
      width: 20em;

      &.expanded {
        width: 30em;
      }
    }

    @media (max-width: breakpoints.$screen-s) {
      width: 10em;

      &.expanded {
        width: 15em;
      }
    }

    @media (max-width: breakpoints.$screen-xs) {
      display: none;
    }
  }

  .left-panel-expander {
    position: absolute;
    top: 50%;
    left: -2.25em;

    @media (max-width: breakpoints.$screen-m) {
      left: -2em;
    }
  }
}
