@import '../../styles/breakpoints';

.home {
  display: grid;
  grid-template-areas: 'title title'
    'left-panel viewer';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-xxl);
  height: 100%;

  @media (max-width: $screen-s) {
    gap: var(--spacing-m);
  }

  @media (max-width: $screen-m) {
    gap: var(--spacing-l);
  }

  .title {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: title;
  }

  .viewer {
    grid-area: viewer;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
  }

  .left-panel {
    display: flex;
    flex-direction: column;
    grid-area: left-panel;
    width: 26rem;
    overflow: hidden;
    gap: var(--spacing-l);
    transition: width ease-in-out 0.25s;

    @media (max-width: $screen-m) {
      width: 20rem;
    }

    @media (max-width: $screen-s) {
      width: 10rem;
    }

    @media (max-width: $screen-xs) {
      display: none;
    }
  }

}
