@import '../../styles/breakpoints';

.home {
	display: grid;
	grid-template-areas: 'title title'
		'left-panel viewer';
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	gap: var(--spacing-xxl);
	height: 100%;

	@media (max-width: $screen-s) {
		gap: var(--spacing-m);
	}

	@media (max-width: $screen-m) {
		gap: var(--spacing-l);
	}

	.title {
		grid-area: title;
	}

	.viewer {
		grid-area: viewer;
		display: flex;
		flex-direction: column;
		gap: var(--spacing-m);
	}

	.left-panel {
		grid-area: left-panel;
		min-width: 25rem;
		border: 1px solid var(--border-color);
		border-radius: 24px;
		overflow: hidden;
		transition: min-width ease-in-out 0.25s;

		@media (max-width: $screen-m) {
			min-width: 20rem;
		}

		@media (max-width: $screen-s) {
			min-width: 10rem;
		}

		@media (max-width: $screen-xs) {
			display: none;
		}
	}

}