:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--surface-color: #222;
	--title-color: #222;
	--background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	color: var(--surface-color);
	background-color: var(--background-color);
	

	--spacing-xs: 2px;
	--spacing-s: 4px;
	--spacing-m: 8px;
	--spacing-l: 16px;
	--spacing-xl: 24px;
	--spacing-xxl: 32px;

	--border-color: #dbdbdb;
	--border-color-variant: #919191;
}

main {
	height: calc(100vh - 2 * var(--spacing-l));
	padding: var(--spacing-l);
}

body {
	margin: 0;
}

@media (max-width: 639px) {
	main {
		margin: 2rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--surface-color: #ccc;
		--title-color: #20BEFF;
		--background-color: rgb(0, 11, 42);

		--border-color: #424242;
		--border-color-variant: #cfd5da;
	}
}
