.moves-table-container {
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.moves-table {
    width: 100%;
    border-collapse: collapse;
}

.moves-table tr {
    border-bottom: 1px solid var(--border-color);
}

.moves-table th:not(:last-of-type),
.moves-table td:not(:last-of-type) {
    border-right: 1px solid var(--border-color);
}

.moves-table thead img {
    width: 48px;
    margin: 0;
}